.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 20px;
  border: 0.5px solid rgba(63, 63, 54, 30%);
  border-radius: 20px;
}
