/* ------MAIN INFO-------> */

.pricing__header {
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  color: var(--main-text-color);
  margin: 10px auto 80px;
  font-family: "Dancing Script", cursive;
}

.container-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 750px;
}

.info__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.info_header {
  text-align: center;
  font-weight: 800;
  color: var(--main-text-color);
  margin: 100px auto 80px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 4px 4px var(--box-lighter-color), 0px -2px 1px #fff;
  font-size: 3rem;
  color: var(--colored-text-color);
}

.info-left {
  height: 300px;
  width: 50%;
  position: relative;
  padding: 30px;
}

.info-left__text {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: var(--main-text-color);
  justify-self: center;
  text-align: center;
  margin: 20px 0px 20px 40px;
  word-spacing: 5px;
  text-align: justify;
  line-height: 150%;
}

.info-right {
  height: 300px;
  width: 50%;
  position: relative;
  margin: 0 20px 50px 0px;
  display: flex;
  justify-content: center;
}

.info-right__img {
  height: 400px;
  background: var(--box-light-color);
  box-shadow: 31px 31px 45px var(--box-dark-color),
    -31px -31px 45px var(--box-light-color);
  border-radius: 5%;
  transform: perspective(700px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(1px);
  opacity: 0.5;
  transition: 0.4s ease all;
}

.info-right__img:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}
