.portfolio__container {
  margin-bottom: 120px;
}

.portfolio__header {
  padding-top: 90px;
  margin: 60px auto 40px;
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 800;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 2.4rem;
}

.portfolio__info {
  font-size: 1.3rem;
  color: var(--main-text-color);
  margin: 10px;
  width: 100%;
  text-align: justify;
  padding: 0 70px;
  line-height: 150%;
  font-weight: 500;
}

.portfolio__photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 20px;
  font-style: oblique;
  margin: 10px 40px;
}

.portfolio__items {
  margin: 20px 20px 5px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.portfolio__paragraph {
  font-style: normal;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 120%;
}

.portfolio__photo {
  width: 250px;
  height: 150px;
  border-radius: 25px;
  opacity: 1;
}

.portfolio__photo:hover {
  /* transform: scale(1.1); */
  opacity: 0.3;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  text-wrap: wrap;
}

.light {
  background: var(--box-light-color-light);
  color: var(--main-text-color-light);
}

.dark {
  background: var(--box-light-color-dark);
  color: var(--main-text-color-dark);
}

.portfolio__photo-container {
  position: relative;
  width: 250px;
  height: 150px;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 77, 77, 0.434);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--box-light-color-light);
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.portfolio__photo-container:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__photo {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.portfolio__photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 20px;
  font-style: oblique;
  margin: 10px 40px;
}

.portfolio__items {
  margin: 20px 20px 5px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
}
