.portfolio__container {
  margin-bottom: 120px;
}

.portfolio__header {
  padding-top: 90px;
  margin: 60px auto 40px;
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 800;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 2.4rem;
}

.portfolio__info {
  font-size: 1.3rem;
  color: var(--main-text-color);
  margin: 10px;
  width: 100%;
  text-align: justify;
  padding: 0 70px;
  line-height: 150%;
  font-weight: 500;
}

.portfolio__photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 20px;
  font-style: oblique;
  margin: 10px 40px;
}

.portfolio__items {
  margin: 20px 20px 5px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.portfolio__paragraph {
  font-style: normal;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 120%;
}

.portfolio__photo {
  width: 250px;
  height: 150px;
  border-radius: 25px;
  transition: 0.5s all ease-in-out;
  border: 2px solid var(--box-light-color-dark)
}

.portfolio__photo:hover {
  transform: scale(1.1);
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  text-wrap: wrap;
}

.light {
  background: var(--box-light-color-light);
  color: var(--main-text-color-light);
}

.dark {
  background: var(--box-light-color-dark);
  color: var(--main-text-color-dark);
}

.dark .portfolio__photo {
  border: 2px solid white;
}