.not-found__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 750px;
  justify-content: center;
}

.not-found__container-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.not-found__header {
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 800;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 5rem;
}

.not-found__paragraph {
  color: var(--main-text-color);
  font-size: 1.5rem;
}

.not-found__paragraph--span {
  text-decoration: line-through;
  color: var(--red-color);
}

.not-found__container-image {
  width: 50%;
}

.not-found__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-radius: 20px;
}
