.modal {
  /* background-color: var(--modal-bg-color);
  color: var(--modal-text-color); */
  color: var(--main-text-color);
  height: 480px;
  width: 500px;
  border-radius: 20px;
  margin: 160px auto 0;
  padding-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 20px;
  border: 2.5px dotted var(--borders-color);
  box-shadow: 0 8px 32px 0 var(--box-dark-color);
  border-radius: 20px;
}

.modal__header {
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  color: var(--main-text-color);
  margin-bottom: 30px;
  font-family: "Dancing Script", cursive;
}

.form__label {
  display: block;
  margin: 0 60px 5px;
  font-weight: bold;
  align-self: flex-start;
}

.form__input--text,
.form__input--email,
.form__input--textarea {
  width: 80%;
  padding: 10px;
  margin: 0 10px 6px;
  border: 1.5px solid var(--box-lighter-color);
  border-radius: 5px;
  cursor: text;
  box-shadow: 0 0 5px var(--box-lighter-color);
}

.form__input--textarea {
  resize: none;
}

.form__input--text:focus,
.form__input--email:focus,
.form__input--textarea:focus {
  border: 1.5px solid var(--box-lighter-color);
  outline: none;
  box-shadow: 0 0 5px var(--box-lighter-color);
}

.form__input--submit {
  align-self: center;
  padding: 2px 20px;
  margin: 20px 20px;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: var(--dark-text-color);
  background-color: var(--box-dark-color);
  transition: 0.4s;
}

.form__input--submit:hover {
  color: var(--box-light-color);
  background-color: var(--dark-hover-color);
}
