.portfolio-image__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 750px;
}

.portfolio-image__image {
  width: 50%;
  border-radius: 35px;
}

.portfolio__input--buy,
.portfolio__input--buy--disabled {
  align-self: center;
  padding: 2px 20px;
  margin: 20px 20px;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  transition: 0.4s;
}

.light {
  background: var(--box-light-color-light);
  color: var(--main-text-color-light);
}

.dark {
  background: var(--box-light-color-dark);
  color: var(--main-text-color-dark);
}

.portfolio__input--buy--disabled.light {
  color: var(--box-light-color-light);
  background-color: rgb(202, 200, 200);
}

.portfolio__input--buy.light {
  color: var(--dark-text-color-light);
  background-color: var(--box-dark-color-light);
}

.portfolio__input--buy.light:hover {
  color: var(--box-light-color-light);
  background-color: var(--dark-hover-color-light);
}

.portfolio__input--buy--disabled.dark {
  color: var(--dark-text-color-light);
  background-color: rgb(166, 165, 165);
}

.portfolio__input--buy.dark {
  color: var(--dark-text-color-dark);
  background-color: var(--box-dark-color-dark);
}

.portfolio__input--buy.dark:hover {
  color: var(--box-light-color-dark);
  background-color: var(--dark-hover-color-dark);
}
